<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="SHConnectionString" connectionString="address=127.0.0.1;port=1001;protocol=:pTa;user=Admin;psw=19011990"/>
  </connectionStrings>
  <appSettings>
    <add key="FileNameForSaving" value="D:\Temp\GoodsWithCostPrice.csv"/>
  </appSettings>
</configuration>
